.question-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: calc(100vh * 0.1);
}

.question-page img {
    margin-top: calc(100vh * 0.025);
    width: 20vh !important;
    height: auto !important;
    max-width: 90% !important;
} 

.question-page h1 {
    margin-top: calc(100vh * 0.05);
    font-size: 1.5rem;
    font-family: "Macchiato";
}

.question-page .button-74.selected {
  background-color: #d1bca5;
  border: 0.1rem solid #180e00;
  border-radius: 1.5rem;
  box-shadow: #180e00 0.2rem 0.2rem 0 0;
  color: #180e00;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0 1rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74.selected:hover {
  background-color: #fff;
}

.button-74.selected:active {
  box-shadow: #422800 0.1rem 0.1rem 0 0;
  transform: translate(0.1rem, 0.1rem);
}

/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 0.1rem solid #422800;
  border-radius: 1.5rem;
  box-shadow: #422800 0.2rem 0.2rem 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0 1rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 0.1rem 0.1rem 0 0;
  transform: translate(0.1rem, 0.1rem);
}

@media (min-width: 38.4rem) {
  .button-74 {
    min-width: 6rem;
    padding: 0 1.25rem;
  }
  .button-74.selected {
    min-width: 6rem;
    padding: 0 1.25rem;
  }
}