.borderedArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: dashed;
    width: 100%;
    box-sizing: border-box;
}

.resultSeason {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-top: calc(100vw * 0.01);
    padding-bottom: calc(100vw * 0.015);
    position: relative;
}

.saveImageBtn {
    position: absolute;
    top: 78.2%;
    left: 37%;
    background-color: transparent;
    color: white;
    /* border: 2px solid #172A3A; */
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13.9vh;
    height: 3.7vh;
    z-index: 10;
    opacity: 0.5;
    transition: all 0.3s ease;
    font-size: 1.5rem;
}

.resultHeader {
    /* margin-top: calc(100vw * 0.02); */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: calc(100vw * 0.01);
    padding-bottom: calc(100vw * 0.01);

    background-color: #172A3A;
}

.resultHeader h3 {
    font-size: 1.5rem;
    font-family: "Darumadrop One", sans-serif;
    margin: 0;
    color: #ECF8FE;
    font-weight: 400;
    text-align: center;
}

.resultSeason h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: calc(100vw * 0.01);
    font-size: 2rem;
    font-family: "Darumadrop One";
    text-decoration: underline;
    color: #172A3A;
}

.resultSeason img {
    width: 49vh;
    height: 70vh;
    object-fit: contain;
    margin: 0;
}

.resultSeason p {
    padding-left: calc(100vw * 0.015);
    padding-right: calc(100vw * 0.015);
    padding-top: calc(100vw * 0.01);
    padding-bottom: calc(100vw * 0.01);
    white-space: pre-line;
    font-size: clamp(0.9rem, 1.6vw, 1.15rem);
    background-color: #172A3A;
    color: #ECF8FE;
    margin-bottom: 0;
}

.resultPair {
    display: flex;
    flex-direction: row;


    width: 100%;

    padding-top: calc(100vw * 0.02);
    padding-bottom: calc(100vw * 0.04);
    padding-left: calc(100vw * 0.01);
    padding-right: calc(100vw * 0.01);

    margin: 0 0 0 0;

    box-sizing: border-box;

    border-top: 2px dashed #172A3A;
}

.pairLeft {
    padding-left: calc(100vw * 0.004);
    flex: 2;
    justify-content: center;
    align-content: center;
}

.pairLeft h4 {
    font-family: "Darumadrop One", sans-serif;
    font-size: 1rem;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    color: #172A3A;
    font-weight: 400;
}

.pairLeft h3 {
    font-family: "Darumadrop One", sans-serif;
    font-size: 1.75rem;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    color: #172A3A;
    font-weight: 400;
}

.pairRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: calc(100vw * 0.02);
}

.pairRight img {
    height: 15vh;
    width: 15vh;
    object-fit: contain;
    margin: 0;
}



.quizAgain {
    background: none;
    font-size: 0.75rem;
    color: #172A3A;
    padding: 0 0 0 0;
    width: fit-content;
    cursor: pointer;

    padding-top: calc(100vw * 0.015);
    padding-bottom: calc(100vw * 0.005);
    margin: 0;
}

.quizAgain:hover {
    text-decoration: underline;
    background: none;
    padding: none;
}

.credit {
    font-family: "Macchiato", sans-serif;
    font-size: 0.65rem;
    color: #ECF8FE;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: calc(100vw * 0.015);
    padding-bottom: calc(100vw * 0.015);

    background-color: #172A3A;
}

.credit a {
    color: #ECF8FE;
    text-decoration: none;
}

.credit a.underline {
    color: #ECF8FE;
    text-decoration: underline;
}

.reference {
    /* margin-bottom: 1vw; */
    font-family: "Macchiato", sans-serif;
    font-size: 0.65rem;
    color: #172A3A;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: calc(100vw * 0.01);
    padding-bottom: calc(100vw * 0.01);
}

.reference a {
    color: #172A3A;
    text-decoration: none;
}

.reference a.underline {
    color: #172A3A;
    text-decoration: underline;
}

.benlogo {
    height: 15vh;
    width: 15vh;
    object-fit: cover; 
}